/node_modules
/vendor

/.env
/.env.*
!.env.example

/public/build
/public/hot
/storage/*.key
/storage/app/public/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*

/.phpunit.cache
/.idea
/.vscode
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log
